{% extends 'store/main.html' %}
{% load static %}
{% block content %}

	<br><br><br>

<body class="bg-light">

	<h1 class="text-center mt-5"> STORE </h1>

	    <div class="row mx-5">
			{% for product in products %}
			<div class="col-lg-4 mb-3">
				<img class="thumbnail" src="{{product.imageURL}}">
				<div class="box-element-c product">
					<h6><strong>{{product.name}}</strong></h6>
					<hr>

					<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
					<a class="btn btn-outline-success" href="#">View</a>
					<h4 style="display: inline-block; float: right"><strong>£{{product.price|floatformat:2}}</strong></h4>
				</div>
			</div>
			{% endfor %}
		</div>

	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</body

{% endblock content %}